:root {
  --bg-dark: #5B3B26;
  --border-dark: var(--bg-dark);
  --border-light: #C8A064;
  --font-blue: #00f;
  --font-green: #648232;
  --hover-red: ;
  --hover-blue: #C8BEDC;
  --hover-orange: #FEBA17;
}

body, html {
  /* max-width: 320px;
  max-height: calc(320px * 16 / 9); */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  font-family: 'Microsoft Yahei';
  font-size: calc(100vw / 20);
}
ul, li {
  list-style: none;
}
main, main > div {
  width: 100%;
  height: 100%;
}

header, footer {
  position: absolute;
}

header {
  top: 0;
  width: 100%;
}

footer {
  bottom: 0;
  width: 100%;
}

button {
  display: inline-block;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 90%;
}
button.block {
  display: block;
  width: 100%;
}

.flex {
  display: flex;
  item-aligns: center;
  justify-content: center;
}

.arrow-left,
.arrow-right {
  display: inline-block;
  background: #E16A26;
  width: 3vw;
  height: 3vw;
  line-height: inherit;
  vertical-align: middle;
}
.arrow-left::before,
.arrow-right::before {
  display: inline-block;
  background: var(--border-dark);
  width: 4vw;
  height: 4vw;
  line-height: inherit;
  vertical-align: middle;
}
.arrow-left,
.arrow-lef::before  {
  float: left;
  clip-path: polygon(75% 0, 75% 100%, 0 50%);
}

.arrow-right,
.arrow-right::before {
  float: right;
  clip-path: polygon(25% 0, 25% 100%, 100% 50%);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.color-blue {
  color: var(--font-blue);
}
.color-green {
  color: var(--font-green);
}

.tab-nav {
  border: 1px solid var(--border-dark);
  border-bottom: 1px solid #F9F0B9;
  background: #F9F0B9;
}
.tab-nav h2 {
  background: var(--bg-dark);
  color: #fff;
  line-height: 1.8;
  margin: 2px;
  padding: 0 4vw;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 0 #000;
}
.tab-nav h2 button {
  margin-top: 1.2vh;
}
.tab-content {
  position: relative;
  border: 1px solid var(--border-dark);
  border-top: 0;
  background: #F9F0B9;
  overflow: hidden;
}
.tab-content > * {
  position: absolute;
  z-index: -1;
}

.tab-content > .current-tab {
  z-index: 1;
}